<div class="container">
  <h1>About us</h1>
  <p>
    Are you dreaming of a website that grabs attention and makes potential
    customers choose you over others but don't know where to start? Then EU-T
    professional website builder company comes to help. We'll be your lifeline
    in creating beautiful websites effortlessly. No technical skills are
    required, only your desire to launch an excellent responsive platform that
    boosts sales and attracts new visitors! You have finally found the best
    travel agency website design! Take a closer look at this winter tourism
    provider template. It enables you to create a fast, easy-to-use,
    cross-browser compatible, and SEO-friendly winter tour website with a simple
    but powerful visual control panel. Here you have various pages and popups
    with tabs, accordion, several galleries, and many other useful features.
    There are different social widgets that you can use to share your website
    pages or view your social network accounts. Also, you can easily adjust all
    the design right in our visual editor. Grab this website design for travel
    website and launch a compelling web page code-free! How Did EU-T Start? The
    story of our user-friendly, functional, and easy website builder began in
    early 2008 when Demetrio Fortman launched EU-T. At that time, the company's
    swift and intuitive Flash-powered CMS made it stand out from the crowd, but
    as time passed and new technologies replaced the old ones, we didn't stand
    idly by. After a while, EU-T was rebuilt to adjust to the market, and, as a
    result, we got EU-T - the second generation of our HTML-based website
    builder. The latest EU-T 3 version was released in 2015, and now it is a
    responsive website builder with a vast collection of lightning-fast
    templates. Things change, and in 2021 we are also willing to offer a
    full-featured White Label for resellers and a brand new website builder
    solution - EU-T!
  </p>
</div>
