<div class="container">
  <div class="row row-cols-3 p-3">
    <div class="mt-4">
      <div class="card">
        <img
          src="https://cdn.pixabay.com/photo/2016/02/02/10/04/paris-1175022_1280.jpg"
          class="card-img-top mt-2 rounded"
          alt="Paris"
        />
        <div class="card-body">
          <h5 class="card-title">A weekend in Paris</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="price">
            <a href="#" class="btn btn-primary">Book now</a>
            <span class="border border-primary rounded-pill p-2">
              <b> Ab €340</b></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="card">
        <img
          src="https://cdn.pixabay.com/photo/2023/07/04/14/17/city-8106447_1280.jpg"
          class="card-img-top mt-2 rounded"
          alt="Malta"
        />
        <div class="card-body">
          <h5 class="card-title">Holidays in Malta</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="price">
            <a href="#" class="btn btn-primary">Book now</a>
            <span class="border border-primary rounded-pill p-2">
              <b> Ab €420</b></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="card">
        <img
          src="https://cdn.pixabay.com/photo/2019/09/21/06/16/castle-4493125_1280.jpg"
          class="card-img-top mt-2 rounded"
          alt="Berlin"
        />
        <div class="card-body">
          <h5 class="card-title">Visit Berlin</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="price">
            <a href="#" class="btn btn-primary">Book now</a>
            <span class="border border-primary rounded-pill p-2 flex-column">
              <b> Ab €299</b></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="card">
        <img
          src="https://cdn.pixabay.com/photo/2019/07/26/10/04/building-4364408_1280.jpg"
          class="card-img-top mt-2 rounded"
          alt="Venice"
        />
        <div class="card-body">
          <h5 class="card-title">Be lost in Venice</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="price">
            <a href="#" class="btn btn-primary">Book now</a>
            <span class="border border-primary rounded-pill p-2 flex-column">
              <b> Ab €385</b></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="card">
        <img
          src="https://cdn.pixabay.com/photo/2014/04/26/10/02/parc-guell-332390_1280.jpg"
          class="card-img-top mt-2 rounded"
          alt="Barcelona"
        />
        <div class="card-body">
          <h5 class="card-title">The beauty of Barcelona</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="price">
            <a href="#" class="btn btn-primary">Book now</a>
            <span class="border border-primary rounded-pill p-2 flex-column">
              <b> Ab €315</b></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="card">
        <img
          src="https://cdn.pixabay.com/photo/2021/01/15/11/23/burj-al-arab-5919133_1280.jpg"
          class="card-img-top mt-2 rounded"
          alt="Dubai"
        />
        <div class="card-body">
          <h5 class="card-title">The magic of Dubai</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="price">
            <a href="#" class="btn btn-primary">Book now</a>
            <span class="border border-primary rounded-pill p-2 flex-column">
              <b> Ab €899</b></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
